<div class="container">
	<h1 class="text-success"> {{ message }} </h1>
	<br/>
	<p class="text-justify">Anitech Consulting Services Pvt Ltd. is an innovative software development and information technology(IT) consulting service provider with offshore development center in Hyderabad, India. We provide offshore outsourcing solutions to enterprises worldwide. Combining proven expertise in technology, and an understanding of emerging business domains, Anitech delivers a range of outsourcing services that includes Enterprise Product Suites, Custom Application Development, ERP Solution, Mobile Application Development, Multimedia Design and IT Consulting Services. We have specialized software expertise to help your business operate more efficiently respond to customers, secure sensitive information, manage growth and control costs.</p>
	<br/>
    <p><a class="btn btn-lg btn-success" href="http://www.anitechcs.com" role="button">Visit Anitech Now!</a></p>
</div>
