<!DOCTYPE html>
<html ng-app="<%= _.camelize(appname) %>" >
<head>
  <title>ng-AppGen - Angular Application Generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="app.less" type="text/css" rel="stylesheet/less" />
</head>
<body>

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- JS from Bower Components -->
  <script src="../bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/underscore/underscore.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../<%= routerJs %>"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="../bower_components/restangular/dist/restangular.js"></script>
  <!-- Add New Bower Component JS Above -->

  <!-- Main App JS -->
  <script src="app.js"></script>
  <script src="home/home.js"></script>
  <script src="home/controllers/home-controller.js"></script>
  <script src="home/services/home-service.js"></script>
  <script src="help/help.js"></script>
  <script src="help/controllers/help-controller.js"></script>
  <script src="help/services/help-service.js"></script>
  <script src="common/common.js"></script>
  <script src="common/controllers/common-controller.js"></script>
  <script src="common/services/common-service.js"></script>
  <!-- Add New Component JS Above -->

  <div class="fadeZoom">

      <div class="navbar navbar-default navbar-static-top">
          <div class="navbar-header">
              <a class="navbar-brand" id="logo" href="/app"><i class="fa fa-bolt"></i> ng-AppGen </a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/app/#/home" id="home">Home</a></li>
              <li><a href="/app/#/help" id="help">Help</a></li>
          </ul>
      </div>

      <div id="content" class="container" <%= routerViewDirective %> >
          <!-- Content will goes here -->
      </div>

  </div>

</body>
</html>
